---
layout: default
---

  <section class="panel panel-start full-panel">
    <div class="row">
      <div class="panel-inside">
        <h1><span>Monkee-Boy Web Design</span>
          Current Openings</h1>

        <ul class="openings">
          {% if site.categories.open == null %}
            <li>Check out our <a href="http://www.monkee-boy.com/who/join-the-troop/">website</a> for other openings.</li>
          {% else %}
            {% for post in site.categories.open %}
              <li><a href="{{ post.url | prepend: site.baseurl }}">{{ post.title }} &raquo;</a></li>
            {% endfor %}
          {% endif %}
        </ul>
      </div>
    </div>
  </section>

  <section class="panel panel-light full-panel">
    {% include about-monkee-boy.html %}
  </section>
