<div class="row" data-count="">
  <img src="/images/monkee-head.png" class="monkee-head">
  <div class="panel-inside">
    <h2>Monkee-Boy</h2>

    <p class="intro">We are a boutique web service firm focused on user experience, design, development, inbound marketing, measurement, and maintenance.</p>

    <p>Monkee-Boy is one of Austin’s leading digital agencies and has been helping organizations of all shapes and sizes, around the world, do one thing for almost 18 years. That one thing is simple...solve the web. We focus on digital strategy, user experience, design, development, inbound marketing, measurement, and ongoing maintenance. Don't forget to checkout our site at <a href="http://www.monkee-boy.com">monkee-boy.com</a> for more about us and our work.</p>
  </div>
</div>
