<div class="row" data-count="">
  <img src="/images/monkee-head.png" class="monkee-head">
  <div class="panel-inside">
    <h2>Monkee-Boy</h2>

    <p class="intro">We are a boutique web service firm focused on user experience, design, development, inbound marketing, measurement, and maintenance.</p>

    <p>Founded in 1998 by Aaron Bramwell, Monkee-Boy has evolved from a small, two-person web design and development shop to a full-service web, mobile, and marketing team based in one of the greatest cities in the world: Austin, TX. For 16 years we've been helping clients achieve their goals on the web by finding custom solutions that do two things: solve your unique problem and deliver tangible results. Don't forget to checkout our site at <a href="http://www.monkee-boy.com">monkee-boy.com</a> for more about us and our work.</p>
  </div>
</div>
