@import "../../bower_components/normalize.css/_normalize",
        "../../bower_components/monkee-mixins/_mixins",
        "_import/functions";

body {
  color: #fff;
  font-family: "Source Sans Pro", sans-serif;
  font-size: 22px;
}

h1, h2, h3, h4, h5 {
  font-family: "effra";
}

a {
  text-decoration: none;
}

p, li {
  font-size: 18px;
  line-height: 1.6;
}

ul, ol {
  margin: 0;
  padding-left: 23px;
}

.row {
  position: relative;
  max-width: 1170px;
  height: 100%;
  margin: 0 auto;
  padding: 0 40px;
  overflow: hidden;

  @media only screen and (max-width: 64.063em) {
    width: 100%;
    max-width: 100%;
    padding: 0;
  }
}

.wrapper {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;

  .full-panel {

  }

  .panel-inside {
    position: relative;
    float: right;
    padding: 50px 0;
    width: 770px;

    @media only screen and (max-width: 64.063em) {
      width: 100%;
    }
  }

  .panel-start {
    position: relative;
    width: 100%;
    height: 100%;
    overflow: hidden;
    background: url(/images/panel-start.jpg) no-repeat center center fixed;
    background-size: cover;

    .panel-inside {
      width: 900px;
      float: none;
      margin: 0 auto;
      text-align: center;
      position: relative;
      top: 50%;
      transform: translateY(-50%);

      @media only screen and (max-width: 64.063em) {
        width: 100%;
        padding: 0;
        top: 0;
        transform: inherit;
      }
    }

    h1 {
      margin-top: 75px;
      text-transform: uppercase;

      span {
        font-size: 30px;
        text-transform: none;
        font-weight: normal;
        display: table;
        white-space: nowrap;
        margin: 0 auto;

        &:before, &:after {
          border-top: 1px solid #fff;
          content: '';
          display: table-cell;
          position: relative;
          top: 0.7em;
          width: 25%;
        }

        &:before {
          right: 7%;
        }

        &:after {
          left: 7%;
        }
      }

      strong {
        font-size: 145px;
      }

      @media only screen and (max-width: 64.063em) {
        strong {
          font-size: inherit;
        }

        br {
          display: none;
        }
      }
    }
  }

  .panel {

  }

  .row {
    &:before {
      position: absolute;
      z-index: 0;
      bottom: 80px;
      left: 0;
      content: attr(data-count);
      font-weight: bold;
      font-size: 700px;
      font-family: effra;
      line-height: 0.54;
    }
  }

  .panel-dark {
    color: #fff;
    background: #242529;

    .row:before {
      color: #1c1d20;
    }

    h2 {
      color: #fcc721;
    }

    a {
      color: #90af17;

      &:hover, &:focus {
        color: #708d01;
      }
    }
  }

  .panel-highlight {
    color: #fff;
    background: #90af17;

    .row:before {
      color: #708d01;
    }

    h2 {
      color: #fff;
    }

    a {
      color: #242529;

      &:hover, &:focus {
        color: #1c1d20;
      }
    }
  }

  .panel-light {
    color: #19181d;
    background: #e5e5e5;

    .row:before {
      color: #c6c4c4;
    }

    h2 {
      color: #24a390;
    }

    a {
      color: #fcc721;

      &:hover, &:focus {
        color: #e1b017;
      }
    }
  }

  h2 {
    margin: 0 0 20px;
    font-size: 70px;

    @media only screen and (max-width: 64.063em) {
      font-size: 45px;
    }
  }

  p.intro {
    font-size: 42px;
    line-height: 1.2;

    @media only screen and (max-width: 64.063em) {
      font-size: 30px;
    }
  }

  ul li {
    margin-bottom: 14px;
    list-style: square;
  }
}

.panel-apply {
  .panel-inside {
    width: 500px;
    margin: 0 auto;
    float: none;

    @media only screen and (max-width: 64.063em) {
      width: 100%;
    }
  }
}

.panel-culture {
  .panel-inside {
    // width: 525px;
    width: 48%;

    @media only screen and (max-width: 40.063em) {
      width: 100%;
    }
  }
}

.photogrid-wrapper {
  width: 48%;
  float: left;
  padding-top: 50px;

  @media only screen and (max-width: 40.063em) {
    display: none;
  }
}

.photoset-grid-basic {

}

.wrapper ul.openings {
  margin: 0;
  padding: 0;

  li {
    list-style: none;
    font-size: 34px;
  }

  a {
    font-weight: bold;
    color: #fff;

    &:hover, &:focus {
      color: #fcc721;
    }
  }
}

.monkee-head {
  position: absolute;
  bottom: 10px;
  left: 0;
  z-index: 0;
  opacity: 0.2;
}

footer {
  padding: 25px 0;
  font-size: 16px;
  text-align: center;
  color: #fff;
  background: #24a390;
}

@import "../../bower_components/bootstrap-sass/assets/stylesheets/bootstrap/variables",
        "../../bower_components/bootstrap-sass/assets/stylesheets/bootstrap/mixins",
        "../../bower_components/bootstrap-sass/assets/stylesheets/bootstrap/forms";

label {
  font-weight: normal;
  font-size: 18px;
}

input, textarea {
  font-size: 18px;
}

input[type="submit"] {
  padding: 10px 35px;
  border: 0;
  background: #90af17;
  color: #fff;
  border-radius: 4px;

  &:hover, &:focus {
    background: #708d01;
  }
}
